[2019-12-05 16:10] vreis opened #287 "Auto scale learning rate based on batch size"
## 🚀 Feature
Auto scale learning rate based on batch size

## Motivation

Changing the number of workers in distributed training requires adjusting hyperparameters. https://arxiv.org/abs/1706.02677 proposed a linear scaling rule to adjust the learning rate based on the batch size

## Pitch

ClassificationTask should have a flag (default True), that would rescale the learning rate based on the batc

[2019-12-05 16:16] vreis opened #288 "Implement Adam optimizer"
## 🚀 Feature
Support for the Adam algorithm (https://pytorch.org/docs/stable/_modules/torch/optim/adam.html) within `classy_vision.optim`

## Motivation

Adam is a pretty standard optimizer.

## Pitch

Subclass ClassyOptimizer, similar to how we did SGD and RMSProp.

## Alternatives

N/A

## Additional context

https://arxiv.org/abs/1412.6980
https://openreview.net/forum?id=ryQu7f-RZ

[2019-12-05 16:42] vreis opened #289 "Discriminative learning rates for FineTuningTask"
## 🚀 Feature
Right now we only support fine tuning by freezing the trunk weights, or training all weights together. Discriminative learning rates means we can apply different learning rates for different parts of the model, which usually leads to better performance.

## Motivation

https://arxiv.org/pdf/1801.06146.pdf introduced discriminative fine-tuning in NLP. Since then it's been found to be u

[2019-12-05 16:48] vreis opened #290 "Mixed precision training"
## 🚀 Feature
Support training on 16-bit floating point

## Motivation

Modern GPUs have specialized hardware for computing 16bit floating point numbers. 16 bit floating point operations are faster to compute, lower communication overhead and decrease memory usage, leading to faster training.

## Pitch

Use the Amp implementation from https://github.com/NVIDIA/apex

## Alternatives

N/A

## Additio

[2019-12-05 17:04] vreis opened #291 "Support YAML configs"
## 🚀 Feature
Make classy_train.py work with YAML config files in addition to JSON.

## Motivation

YAML is better than JSON, period.

## Pitch

We already have experimental support for YAML by using the Hydra library (https://hydra.cc). We need to use it more, make sure it's stable and document it.

## Alternatives

Support YAML without Hydra. There's lots of benefits of using Hydra though.

## Ad

[2019-12-06 08:44] TH3CHARLie commented on #288
Hi! I've submitted a PR #301 for this, please take a look

[2019-12-07 03:54] iot-hunter opened #305 "how to train FixResNeXt-101 32x*d?"
## ❓ Questions and Help

Before creating an issue, please go over our [Tutorials](https://classyvision.ai/tutorials) and [API Reference](https://classyvision.ai/api). If you cannot find the information you are looking for, please enquire in Classy Vision's `#help` [slack](https://classyvision.slack.com) channel before creating an issue.
I want to train FixResNeXt-101 32x48d or EfficientNet-B*  wha

[2019-12-07 05:10] mannatsingh commented on #305
Hi @iot-hunter , although the models you've mentioned aren't shipped with Classy Vision, the framework is built to support training any custom PyTorch models with ease. Please see the tutorial on [how to create a custom model](https://classyvision.ai/tutorials/classy_model) for more details.

[2019-12-09 15:59] mannatsingh commented on #305
Closing this out

[2019-12-09 15:59] #305 closed

[2019-12-09 21:17] #288 closed

[2019-12-11 16:25] aadcock opened #308 "Separate train / eval code in tasks"
## 🚀 Feature
Currently the task abstraction just has a train step, but has two types of phases, train and test. So we end up having to take care of both training and evaluation in the same set of code (currently done with if-statements). The proposal is to improve the separation of the train / eval code by adding an eval_step to the tasks.

## Motivation

Currently we have two types of phases used

[2019-12-12 07:09] MagicSen opened #312 "why can not import own datasets?"
Follow the https://classyvision.ai/tutorials/classy_dataset,
I create own dataset reader, like this
![image](https://user-images.githubusercontent.com/7019492/70689971-94a82e00-1cf0-11ea-8bd1-a5355a84eef7.png)
but when i use this in config file, the program can't not find this.
![image](https://user-images.githubusercontent.com/7019492/70690264-4b0c1300-1cf1-11ea-86f9-599aee4ec82d.png)

how to fix

[2019-12-12 09:43] Kongsea opened #313 "Implement more loss functions"
Please implement more loss functions, such as focal loss, center loss...

[2019-12-12 15:18] aadcock commented on #312
Thanks for trying out Classy Vision!

For a python decorator to work, the file it is in needs to be imported. In classy vision we do this in the __init__.py files. See for example [here](https://github.com/facebookresearch/ClassyVision/blob/513aa644cc545c3bf75d65faf6e74cf5e44ec534/classy_vision/dataset/__init__.py#L68), this means we only need to add:

`import classy_vision.dataset`

to register e

[2019-12-12 15:30] aadcock commented on #313
Hi @Kongsea , could you open separate issues for each loss function you are interested in being added (including links to the relevant literature and why you think it is important to add)? Then we can discuss each one separately and based on its own merits. (cc @vreis in case you have another idea in mind).

Also, it's quite easy to add custom loss functions to your local project for experimentati

[2019-12-13 03:14] MagicSen commented on #312
Thanks a lot, I copy code into classy_vision/dataset/ , it worked.
but I think it is not a very elegant approach，because the user need to update the library.
By the way, I read the source, the design is very cool.

[2019-12-13 03:14] #312 closed

[2019-12-13 03:35] mannatsingh opened #317 "Explain how the registration process works"
## 📚 Documentation

While in our tutorials we explain how to create a new project and the registration works seamlessly, we should also document how it works so that users can also understand how to use Classy Vision without creating a project if they choose to (while still recommending creating a project to avoid these hassles). Creating this as a follow up after https://github.com/facebookresear

[2019-12-13 03:37] mannatsingh commented on #312
@MagicSen glad you like the design!

Also, you don't need to update the library to get your dataset to work.

If you follow the instructions to set up your own project as per the links that follow, you can just move your dataset code to `my-project/datasets/my_custom_dataset.py` and `my_project/classy_train.py` will pick up your dataset -
- https://github.com/facebookresearch/ClassyVision#getting-

[2019-12-13 05:44] acdart opened #318 "the slack invite link is no longer active"
This invite link is no longer active.
Please check with the person who shared it with you to see if there's a new link available.

[2019-12-14 21:12] mannatsingh commented on #318
Thanks for pointing that out @acdart . @vreis can you figure out what's going on?

[2019-12-14 21:33] vreis commented on #318
Fixed by https://github.com/facebookresearch/ClassyVision/pull/321 -- landing it now. Thanks for the report, @acdart!

[2019-12-14 21:33] #318 closed

[2019-12-14 22:32] vreis commented on #312
@MagicSen: as Mannat mentioned above, `classy_train.py` automatically imports everything in the datasets folder of the project that was created for you, you don't have to import anything manually or modify the library itself. Please note I'm referring to the datasets folder under the project folder generated by classy-project, not the datasets folder under the classy vision repo. Feel free to re-o

[2019-12-16 07:27] ChenMinQi opened #323 "add model zoo"
## 🚀 Feature

model zoo just like detectron2

## Motivation

We can quickly know the accuracy of each model.
## Pitch

just like this, [detectron2 model zoo](https://github.com/facebookresearch/detectron2/blob/master/MODEL_ZOO.md)
## Alternatives

## Additional context

[2019-12-31 10:03] miguelvr commented on #312
I solved this by allowing the necessary imports to be configured from the configuration itself

e.g.

config.json
[code]

main.py
[code]

[2019-12-31 14:40] miguelvr opened #330 "Cannot launch Ray Autoscaler when running ray example"
## ❓ Questions and Help

Hi, I'm trying to train a model with classy vision following the ray distributed example, but I'm not managing to launch the cluster properly (or at least I think this is the case)

Everything works, including the `ray start cluster_config.yml` command.

However, when I `tail` the ray logs, I'm getting a recurrent error:
[code]

Do I really need to contact Amazon to extend

[2019-12-31 16:51] baidut opened #331 "No such file or directory: '/usr/local/lib/python3.6/dist-packages/classy_vision/templates/synthetic'"
## 🐛 Bug

When installing it under a virtualenv, setting up a new project is not working because of FileNotFoundError

## To Reproduce

Steps to reproduce the behavior:

1. `mkvirtualenv myenv --python=python3.6; work on myenv`
1. `classy-project my_project`

## Expected behavior

## Environment

 - What commands did you use to install Classy Vision (conda/pip/build from source)? `pip install clas

[2019-12-31 17:04] baidut commented on #331
For those who want to install ClassyVision under a virtualenv

You will encounter two problems, I posted my solution here.

# module 'site' has no attribute 'getsitepackages'

Follow [this issue](https://github.com/NVIDIAGameWorks/kaolin/issues/6#issuecomment-557277725) to fix it

out of virtualenv, run

[code]
then add the following function to `site.py`
[code]

# No such file or directory: '/usr

[2019-12-31 17:04] #331 closed

[2020-01-02 10:44] miguelvr commented on #330
solved by asking AWS support to increase my vCPU limit for P-type instances

[2020-01-02 10:44] #330 closed

[2020-01-08 09:52] skyoung opened #334 "GenericImageTransform sample type check"
## 🐛 Bug

The `__call__()` of GenericImageTransform in `transform.utils` does not check whether input is a tuple or a dict.

## To Reproduce
1. `classy-project my-project` to initialize an example project.
2. Set `SampleType.TUPLE` to `SampleType.DICT` in line 32 of `my_data.py`

## Expected behavior

`KeyError: Caught KeyError in DataLoader worker process 0.`

[2020-01-08 14:47] aadcock commented on #334
Hi skyoung! Thanks for reporting this. Unfortunately, it's not clear to me what the issue is (the repro produces the expected behavior you are asking for here).

Is the request for a clearer error message?

[2020-01-08 17:16] mannatsingh commented on #331
Thanks for reporting the issue and mentioning a fix, @baidut !

I was also able to repro the issue, this seems like a problem with virtualenv (https://github.com/pypa/virtualenv/issues/737) so I don't think there is anything to be fixed on our end. cc @vreis.

[2020-01-08 17:28] mannatsingh commented on #330
@miguelvr glad that you were able to resolve the issue by increasing your vCPU limit.

Just an FYI, If you look at https://github.com/facebookresearch/ClassyVision/blob/master/examples/ray/cluster_config.yml, it requests for 2 workers by default. You can also reduce the number of workers to 1 to reduce the total vCPU capacity utilized by your job.

[2020-01-09 03:34] skyoung commented on #334
https://github.com/facebookresearch/ClassyVision/blob/9540125cbb0b396db29d239959d9a46476b7f83f/classy_vision/dataset/classy_dataset.py#L111-L113

Here `self.transform` expects a tuple and returns a dict. However, if `sample` is a tuple, and `self.transform==None`, it will return a tuple, which is inconsistent with the return when `self.transform is not None`

Therefore, I suggest that `self.transf

[2020-01-09 22:19] omry commented on #287
Interpolation does not support arithmetic operations (there is an enhancement request in OmegaConf that I will consider in the future).

For now, you could use to get the batch size into the model, and do the auto scaling in code.
[code]

and do the division in the code.

[2020-01-14 09:50] miguelvr opened #340 "FineTuningTask's pretrained_checkpoint should be configurable"
## 🚀 Feature
It seems logical to me that the `set_pretrained_checkpoint` argument from the fine tuning task should be present in the config.

## Motivation

I'm using a custom train script, instead of the one provided in classy vision, and it seems silly having to implement a feature that belongs to a specific task in a generic training pipeline.

Effectively, this can be achieved by loading the c

[2020-01-14 16:05] mannatsingh commented on #340
@miguelvr That's a good point.

The reason that we don't have the loading checkpoint aspect inside the task is because there can be situations where users have checkpoints which aren't saved in their local filesystems (s3, for example), and the checkpoint saving / loading isn't part of the task.

At the same time, even after this change, those users can continue to call `set_pretrained_checkpoint`

[2020-01-14 16:19] mannatsingh commented on #340
Discussed with @vreis , we should have better abstractions for checkpointing so that users can change how and where checkpoints are loaded from and stored. For now, we can go ahead with #341 since it doesn't break anything - we can update the internal implementation of `from_config` once we update the checkpointing API.

[2020-01-14 16:20] vreis commented on #340
I like the PR, thanks @miguelvr!
To clarify Mannat's point: there are many ways of loading checkpoints and we didn't want to be prescriptive about that in `from_config` (load_checkpoint right now only works for local files).

Long-term, I think we'll end up introducing a `ClassyCheckpoint` abstraction to allow loading from many different sources. And in that case we can just update the implementat

[2020-01-14 16:21] miguelvr commented on #340
@mannatsingh @vreis At first I made it a requirement to have the `pretrained_checkpoint` argument in the config and I checked for it in the `from_config` call.

However, my current approach aims to be backwards compatible, enabling both ways of setting up the checkpoint: from the config or by setting it with `set_pretrained_checkpoint`. Only at the `prepare` stage an error will be thrown.

I agree

[2020-01-16 14:59] miguelvr opened #345 "Keeping track of the best model checkpoint"
## 🚀 Feature
There is currently no way of keeping track of the best checkpoint in classy vision, with a focus on a specific meter.

## Motivation / Pitch
Knowing which checkpoint performs better against a validation set is a common practice in ML, it makes sense to automate this process for the user.

## Alternatives
The only way I've managed to do it so far was by analyzing the contents of the sa

[2020-01-16 16:43] mannatsingh commented on #345
This is something we do plan on supporting, thanks for filing a feature request, @miguelvr !

The approach I had in mind was to just support this feature within the `CheckpointHook`, so that it would save the "best" checkpoint with a special filename.

[2020-01-16 16:54] #340 closed

[2020-01-16 18:02] miguelvr commented on #345
I don't mind doing a PR for that as well. I'm using the framework for training a lot of models at the moment and this is something that'll have to do anyway.

[2020-01-17 12:29] Kongsea opened #347 "Load pretrained Imagenet models by pytorch"
When I load a pretrained imagenet model by pytorch using a finetune task, an `AssertionError: Checkpoint does not contain classy_state_dict` was raised. So I want to know, how to load a imagenet model to initialize the backbone of a class model?
Thank you.

[2020-01-17 12:33] Kongsea commented on #313
When I implement center loss, all features and output and target need to be passed to forward function. Then the following error was raised:
`RuntimeError: multi-target not supported at /pytorch/aten/src/THCUNN/generic/ClassNLLCriterion.cu:15`
So is there anybody who can help me to fix it? Thank you.

[2020-01-17 20:33] mannatsingh commented on #347
Hi @Kongsea ! If I understand the problem correctly, you are trying to load a pretrained model from `torchvision` (or elsewhere) and fine tune it with Classy Vision.

The recommended approach for doing something like this would be to do the following -
[code]
Note that I'm doing two things here -
- Converting a PyTorch model to a `ClassyModel` using `ClassyModelWrapper`
- Instead of using a `FineT

[2020-01-19 07:08] Kongsea commented on #347
Thank you @mannatsingh for your advice.
However, after wrap the model using `ClassyModelWrapper`, When I add a custom head to it using `model.set_heads({"block3-2": {head.unique_id: head}})`, the following error was raised:
[code]
So how to change the default head (fullyconnected layer) according to my custom dataset?
Thank you.

[2020-01-19 12:17] Kongsea commented on #347
Finally, I found we can first build the block and then set the model head using:
[code]
However, we met a new question: how to set to freeze some layer of the pretrained resnet model and train only the last layers and the fc head?
Could you give me some advice? @mannatsingh Thank you.

[2020-01-19 13:20] Kongsea commented on #313
Please give me some advice @aadcock @vreis  Thank you.

[2020-01-21 14:55] vreis commented on #313
@Kongsea: can you please share the code that you have right now?

[2020-01-21 15:54] mannatsingh commented on #347
@Kongsea unfortunately, allowing support to attach heads to a model requires a user to implement the model themselves (to propagate the output of the heads). So you will not be able to replace the original "head" with a `ClassyHead`. If you do want to accomplish that, you should copy the source implementation of your model and make changes to it in accordance with https://github.com/facebookresear

[2020-01-24 16:28] #347 closed

[2020-01-31 20:22] fbbradheintz opened #366 "Conda install instructions in /README.md fail"
## 📚 Documentation

The main README of the ClassyVision project on GitHub prescribes the following command line for installing the framework:

`conda install -c conda-forge classy_vision`

This gives the result:

[code]

Using `-c pytorch` and using no channel flag (i.e., `conda`'s default channels) produce similar results.

[2020-01-31 20:30] vreis commented on #366
Thanks for the heads up! I can reproduce this. Looking into it now

[2020-01-31 20:31] vreis commented on #366
In the meantime, please install classy vision from pip instead

[2020-01-31 20:35] fbbradheintz commented on #366
That's what I did :)

[2020-01-31 20:36] fbbradheintz commented on #366
Interestingly, anaconda.org search results show ClassyVision 0.2.0 on conda-forge: https://anaconda.org/search?q=classy_vision

[2020-01-31 20:54] mannatsingh commented on #366
@fbbradheintz yes, that's true. `classy_vision` is only being built for linux currently. Let me try and see if I can get it to build for other environments.

[2020-01-31 21:33] fbbradheintz commented on #366
Thanks for looking into it.

[2020-01-31 22:06] mannatsingh commented on #366
`torchvision` is only available in the main channel for linux. conda-forge only allows picking up requirements from the main channel and the conda-forge channel. So there's no easy way to get the builds to work for other systems. I'm going to send a PR to update the README thought to only mention linux.

[2020-02-01 00:20] #366 closed

[2020-02-06 16:22] miguelvr opened #376 "on_exception hook event"
## 🚀 Feature
It would be nice to have the ability to process failed experiments by applying an action over an exception.

## Pitch
This would be useful to trigger edge cases that might happen such as interrupted training procedures and saving the current state of the model, for example.

Another thing that comes to mind is a hook that sends you a warning of a failed training experiment, via some w

[2020-02-06 18:03] vreis commented on #376
Sounds good to me!

This seems pretty simple to implement within ClassyTrainer, let me know if you need any pointers.

[2020-02-10 12:19] kingsj0405 opened #384 "Is there a fancy way to implement NAS or Network Pruning?"
## ❓ Questions and Help

I wonder there is a fancy way to implement NAS(Neural Architecture Search) with classy-vision.
I need to update not only weights of models but also architecture itself.
For example, [ProxylessNAS](https://github.com/mit-han-lab/ProxylessNAS).

[2020-02-10 16:47] miguelvr opened #386 "Early Stopping Hook"
## ❓ Questions and Help

I'm trying to implement an early stopping hook that interacts with other custom hooks that I have implemented, but I'm having trouble of getting a sensible way of sending a stop signal to the ClassyTrainer.

The only way I managed to get it working was this:

[code]

Is there a cleaner way of achieving this in the current state of the project?

[2020-02-11 02:46] vreis commented on #386
Yea, I agree this is hacky. There's no better solution right now.

We could add an exception that would be used to exit training, and that would make this much cleaner. I was considering doing that for other reasons anyway -- let's try to get this on the v0.3 release.

On another note: instead of making a hook for early stopping, I would probably consider overriding ClassificationTask.on_phase_end

[2020-02-11 02:51] vreis commented on #334
Closing this out. @skyoung feel free to re-open if the PR didn't address your issue.

[2020-02-11 02:51] #334 closed

[2020-02-11 04:15] vreis commented on #308
Done in https://github.com/facebookresearch/ClassyVision/pull/390

[2020-02-11 04:15] #308 closed

[2020-02-11 04:16] vreis commented on #290
Done in https://github.com/facebookresearch/ClassyVision/pull/338

[2020-02-11 04:16] #290 closed

[2020-02-11 08:47] miguelvr commented on #386
You mean as a solution for now, or as a permanent solution?

[2020-02-11 17:12] fortunto2 opened #391 "Where find metadata_file in UCF101"
## ❓ Questions and Help
Hi, i looking
https://classyvision.ai/tutorials/video_classification

and i have my own dataset...
where i can find structure for metadata_file

[code]

[2020-02-11 19:48] vreis commented on #391
If you have your own dataset, please follow the instructions in https://classyvision.ai/tutorials/classy_dataset instead. That assumes you already have PyTorch code to generate a `torch.utils.data.Dataset`, and shows you how to integrate that with Classy Vision.

[2020-02-12 00:48] vreis commented on #391
Answering the original question: here's the format for the metadata in `torchvision`: https://github.com/pytorch/vision/blob/master/torchvision/datasets/video_utils.py#L147

For each video, meta data contains the video file path, presentation timestamps of all video frames, and number of frames per second.

[2020-02-12 19:36] mannatsingh commented on #384
Hi @kingsj0405 , we don't have any specific code to support NAS. I think the best way right now to do NAS would be to write a new task.

[2020-02-19 01:23] vreis commented on #391
@fortunto2 : closing this out, feel free to reopen if you have any other questions

[2020-02-19 01:23] #391 closed

[2020-02-19 14:35] XiaobingSuper opened #396 "How to create resnext3d model?"
According to [API reference of ResNeXt3D](https://classyvision.ai/api/models.html), if I want to create a ResNeXt3D model, the parameter **num_groups** should be greater than 1, but for the test case in
https://github.com/facebookresearch/ClassyVision/blob/6ed79d5e7ad40a55e409286326a7395192dd0f2a/test/models_resnext3d_test.py#L17-L29
the **num_groups** is 1, I'm confused it when I refer to https:/

[2020-02-19 16:18] miguelvr opened #397 "Pass task reference ParamScheculer.__call__"
## 🚀 Feature
We should pass a reference to the task object to the optimizer + param scheduler to be able to use more complex parameter schedulers

## Motivation / Pitch

Basic PyTorch learning rate schedulers such as the `ReduceLROnPlateau` require task information such as access to the validation loss. Currently, it is not possible to implement this in Classy Vision because there is no access to

[2020-02-19 17:59] vreis commented on #397
This is a recurring issue -- thanks for filing this.

Instead of adding a dependency between task/scheduler, I wanted to introduce a global object to give you access to the task currently being trained (we can only have one at a time anyway). That would solve your issue, right?

[2020-02-19 18:37] miguelvr commented on #397
I guess so... I'm not a fan of global objects, however. I don't see much harm in passing the task reference as an argument, except maybe for compatibility issues.

Would that solution work for custom train scripts other than the provided classy_train?

Maybe the trainer can set the global variable and have an importable function that gets it? Something similar to what flask does

[2020-02-21 07:21] kingsj0405 commented on #384
@mannatsingh Thank you. I'll try.

[2020-02-25 16:14] RuyiLuo commented on #391
As for UCF101 dataset, how can I get the metadata file.

[2020-03-02 15:04] mannatsingh commented on #396
@XiaobingSuper ResNeXt models are just a generalization of ResNets, with the additional groups (or cardinality) parameter. If there is just one group for a ResNeXt model, it becomes a vanilla ResNet model  (`num_groups = 1`).
Also, the config you're referring to has `num_groups == 1`, so it is a ResNet.

[2020-03-02 15:13] #384 closed

[2020-03-03 00:55] #396 closed

[2020-03-09 16:29] miguelvr opened #422 "Support for IterableDatasets"
## 🚀 Feature
Pytorch introduced the IterableDataset in v1.2 to allow users to process streams of information. ClassyVision currently only supports map style datasets, it would be nice to extend the support to IterableDatasets, given that they are especially useful to process video streams.

## Motivation / Pitch

Map style datasets assume each sample can be read completely independently from each

[2020-03-10 16:15] vreis commented on #422
What exactly makes ClassyDataset incompatible with IterableDataset? Within FB we do use IterableDataset with Classy Vision without a custom task subclass.

The one issue that comes to mind is that ClassificationTask assumes a `__len__` implementation, and we have a tiny dataloader wrapper to provide that. If that's the only thing missing I'll open-source it -- let me know!

[2020-03-10 16:20] miguelvr commented on #422
ClassyDataset has a default `__getitem__` method, I think that would not be compatible with a normal DataLoader, but I might be wrong.

I would appreciate the DataLoader wrapper for the length. That was actually the part that I had to change in my custom task: getting the number of batches from the DataLoader

[2020-03-10 16:21] miguelvr commented on #422
I'm also wondering how do you handle the dataset distribution among different workers. I've done that in the init of my abstraction, but I am wondering if there is a cleaner way

[2020-03-10 16:36] vreis commented on #422
@miguelvr: that `__getitem__` is there because `.iterator()` creates a dataloader passing `self`. You can override `.iterator()` and create a dataloader from an IterableDataset instead -- in that case `ClassyDataset` is simply a wrapper to provide config management. Does that make sense?

I agree that's confusing though -- @aadcock maybe we should rethink this.

[2020-03-10 16:48] vreis commented on #422
For data distribution: let's say your dataset performs a SQL database query. In that case you use an `IterableDataset` and make each worker generate a different query to select its own subset of data (e.g. row_id % world_size == rank).

Looks like `ChunkDataset` assumes you have random access to the data (e.g. it all fits in memory) but in that case you can just use a regular `Dataset`.

[2020-03-10 17:10] miguelvr commented on #422
I understand the usage, although I agree it is not super user friendly. I guess it could work if we make a tutorial on the documentation.

@vreis  The main purpose of ChunkDataset would be for datasets where each index corresponds to multiple samples, like video frames or video clips

The only thing that still prevents everything from working with ClassificationTask is the len operation over the d

[2020-03-11 12:46] miguelvr opened #429 "Training crashing with distributed training"
## ❓ Questions and Help

I'm training a model that I trained before with classy vision, except that now i moved into AWS with ray and the script crashes with this error:

[code]

I'm not sure what the unused parameter might be. I had an unused key in the dictionary of the dataset that was not being used in the loss calculation but I removed that and the script still crashes in the same location.

[2020-03-11 20:04] mannatsingh commented on #429
This error shows up when you have parameters in your model which aren't being used in the loss calculation. Are you using a fine tuning task (asking because that sets different parameters of a model in different modes)?
I don't think the problem is in your dataset / distributed setup. The reason you're seeing this with Ray is because you're using more than 1 GPUs, which enables DDP.

[2020-03-11 20:19] miguelvr commented on #429
Yeah, I figured it out. I adapted a model from other library into a classy model with the head / trunk architecture and therefore I am not using the original final fully connected layer, which generates the error.

Thanks for your help. Going to close this.

[2020-03-11 20:19] #429 closed

[2020-03-17 13:29] crisp-snakey opened #438 "Make onnx exports compatible with TensorRT"
## 🚀 Feature

The current use of either the reshape() or view() function in the [FullyConnectedHead](https://github.com/facebookresearch/ClassyVision/blob/dd468034322f4fe4fd05ff48dd022462235e83ae/classy_vision/heads/fully_connected_head.py#L74) of [FullyConvolutionalLinear](https://github.com/facebookresearch/ClassyVision/blob/dd468034322f4fe4fd05ff48dd022462235e83ae/classy_vision/heads/fully_conv

[2020-03-17 15:07] mannatsingh commented on #438
This makes sense. Thanks for sending a PR @crisp-snakey !

[2020-03-17 18:22] #438 closed

[2020-03-23 16:37] P4ppenheimer commented on #347
qadsasd

[2020-03-23 16:57] P4ppenheimer commented on #347
Hello all,

I'm basically in the same situation as Kongsea: I would like to have a simple possibility to use a pretrained model ideally configurable via the config file and with the option to freeze the trunk (or any other combination layer combination).

I'm using the standard `classy_train.py` file and just replace the model, which is loaded via the config, by a pretrained version with
[code]
Bu

[2020-03-24 02:50] mannatsingh commented on #347
Hi @P4ppenheimer , responding to your messages inline -

[code]

This doesn't work because the heads can only be attached to `ClassyBlock`s within a `ClassyModel`, and this requires a model to define `ClassyBlock`s. At the moment, you can only set heads for the ResNe(X)t and DenseNet models within Classy Vision. What you're trying to use is a ResNet from torchvision, which will not work.

This wou

[2020-03-25 16:03] mannatsingh commented on #422
@miguelvr I think https://github.com/facebookresearch/ClassyVision/pull/455 should solve this issue. We should still document this in a tutorial - I'll create a separate issue for that. Please let me know if you are fine with closing this issue out.

[2020-03-25 17:19] miguelvr commented on #422
indeed, closing the issue

[2020-03-25 17:19] #422 closed

[2020-03-25 18:17] mannatsingh opened #456 "Add documentation for how to use Iterable datasets in Classy Vision"
## 📚 Documentation

We should update the dataset tutorial to mention how to use the `DataloaderLimitWrapper` introduced in https://github.com/facebookresearch/ClassyVision/pull/455

[2020-03-26 08:12] XiaobingSuper opened #457 "How to use TimeMetricsHook in a train task?"
## ❓ Questions and Help

I want use **TimeMetricsHook**  to get the training performance, but I face the following error:
[code]
The following code is how do I use **TimeMetricsHook** in my model:
[code]
The **LossLrMeterLoggingHook** , **ProgressBarHook**, and **CheckpointHook** can works, but add **TimeMetricsHook**, will get the error.

[2020-03-26 14:26] aadcock commented on #457
@XiaobingSuper , I think this is a bug. The TimeMetrics hook is trying to access perf stats before they exist and then an error is being caused. That being said, the time metrics hook is not completely trustworthy and we have been discussing removing it (it does measure timing from the CPU point-of-view, but whenever you are using a GPU, the cuda calls happen asynchronously so the timings are extr

[2020-03-26 16:34] mannatsingh commented on #457
Yes, the `TimeMetricsHook` doesn't work with `ClassificationTask` anymore.  I think it was preserved for when users wanted to add the perf stats logic in the task for debugging. @vreis maybe we can remove the hook / add a warning to the docs if we still want to retain that hook.

@XiaobingSuper to get the training performance, you can just use the `TensorboardPlotHook`. We plot the training time p

[2020-03-26 17:38] aadcock commented on #457
@mannatsingh , maybe we should remove it until we have the future use-cases worked out so that we don't confuse people. WDYT?

[2020-03-27 00:28] XiaobingSuper commented on #457
Thanks for all your help, now, I will try to use T**ensorboardPlotHook** to get the training performance.

[2020-03-27 00:30] mannatsingh commented on #457
Closing this issue, feel free to re-open / create a new issue if you encounter any problems!

[2020-03-27 00:30] #457 closed

[2020-03-29 17:18] SiftingSands opened #460 "Examples for inference"
## ❓ Questions and Help

Documenting discussion from the ClassyVision slack channel about examples/best practices for inference.
Note : https://github.com/facebookresearch/ClassyVision/blob/master/tutorials/wsl_model_predict.ipynb shows an example for inference, but it is not referenced in the tutorials due to being unpolished.

Load model checkpoint
[code]

Specify filepaths to images for inferen

[2020-04-09 01:19] mannatsingh commented on #347
@P4ppenheimer , @Kongsea I've just landed a series of commits which makes what you intended to do possible - you can attach heads to any PyTorch module! This probably needs to go in a tutorial, will get to that when I get some time. But in the meantime, the following works -
[code]

[2020-04-09 03:27] poodarchu opened #472 "Do you have model zoo?"
## 🚀 Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2020-04-09 09:40] P4ppenheimer commented on #347
Hello @mannatsingh,
thanks for reacting so quickly to our request.
Best,
Simon

[2020-04-09 19:21] mannatsingh commented on #472
@poodarchu We don't have a model zoo at the moment, although we're actively considering our options. Classy Vision supports using any PyTorch model, so if you have access to any model zoo (like torchvision), you can use those models with Classy Vision!

[2020-04-09 19:32] mannatsingh commented on #460
@SiftingSands sorry, I missed looking at this earlier.

Regarding your example with image paths, you're right, if you specify a single path, it is assumed to be structured as per `torchvision.datasets.ImageFolder`. You can always pass in all the paths to the images individually as a list, and that should work. This is obviously hard to do with a config, but maybe we can support a different directo

[2020-04-09 19:49] SiftingSands commented on #460
No worries at all.

Oh yeah, I forgot about about the 'phase_type' designation. I had added an "inference" key to the "dataset" dictionary in the config and wanted to see if it would pickup the transforms from there.

Regardless, my "boilerplate" setup is working well enough for my purposes. Closing this issue as I believe the documentation purposes of this ticket have been fulfilled.

[2020-04-09 19:49] #460 closed

[2020-04-11 07:47] CaiyuZhang opened #476 "Configuration argument explanation"
## ❓ Questions and Help
I am new to this repo, I haven't use configuration file to configure my task before, so I am confused about arguments in "lr" shown below such as "interval_scaling" etc, and I am thinking about the starting lr=0.1 maybe too big? Please help me out, thanks!

this screenshot is made in "tutorial getting_started".
![image](https://user-images.githubusercontent.com/54944384/790

[2020-04-11 14:29] #476 closed

[2020-04-11 23:22] mannatsingh commented on #476
Hi @CaiyuZhang ! The lr schedule the configuration at https://classyvision.ai/tutorials/getting_started#7.-Training-a-ResNet-50-on-ImageNet follows is based on the [Accurate, large minibatch sgd: Training imagenet in 1 hour](https://arxiv.org/abs/1706.02677) paper. Basically, the recommended lr schedule for ResNet 50 for an overall mini batch size of 256 (which is the case with 8 GPUs each with a

[2020-04-12 05:50] CaiyuZhang commented on #476
@mannatsingh  Thanks for your reply and this amazing work!  I would read the paper later.  So the meaning of `"interval_scaling""lengths"`  is defined and expalined in this paper or that  just arguments defined in your code.

[2020-04-12 06:42] CaiyuZhang commented on #476
@mannatsingh  I am thinking when training is done by using this "resnet" model that specified by my configuration file,  how do I use this trained model to inference ? I cannot find tutorials about inference.  Can I use this way shown below to perform inference?
`with torch.no_grad():print(resnet(x))` , like this?

this image shows model part in my configuration file.
![image](https://user-images.

[2020-04-13 16:24] mannatsingh commented on #476
@CaiyuZhang for the meanings of `"interval_scaling"` and `"lengths"` in the schedulers, check out the API docs for [`ParamScheduler`](https://classyvision.ai/api/param_scheduler.html), and [`CompositeParamScheduler`]( https://classyvision.ai/api/param_scheduler.html#classy_vision.optim.param_scheduler.CompositeParamScheduler). The latter also has an example explaining what everything means.

For i

[2020-04-14 08:41] CaiyuZhang commented on #476
@mannatsingh Ok, I would read later on, thanks to your patient reply :)

[2020-04-15 07:19] CaiyuZhang commented on #460
Hi, @SiftingSands  I also have question about inference, and I am confused about`classy_interface = ClassyHubInterface.from_task(task)` in your code, I cannot find source code about ClassyHubInterface or classy_interface in ClassyVision. Are those your own defined functions?  Please give me a hand, Thanks!

And @mannatsingh I have read your unpublished tutorial`wsl_model_predict.ipynb`. But it sti

[2020-04-15 22:16] SiftingSands commented on #460
Try `from classy_vision.hub import ClassyHubInterface`

I believe there's already a tutorial for transfer learning/fine-tuning. https://classyvision.ai/tutorials/fine_tuning

However, I simply modified https://github.com/facebookresearch/ClassyVision/blob/master/classy_train.py to load in a custom dataset and pretrained model. There isn't a model zoo currently, so I just loaded model weights durin

[2020-04-16 05:39] CaiyuZhang commented on #460
@SiftingSands Ok, thanks a lot for your work and reply :)

[2020-04-16 06:01] CaiyuZhang commented on #460
@SiftingSands I of course have read the https://classyvision.ai/tutorials/fine_tuning, but this just teaches you to train a model and then change the number of class to fine-tune. But I mean I want to just download pretrained weights like pytorch and do transfer learning not training weights myself. You used https://github.com/facebookresearch/WSL-Images, and I will also have a try. Thanks for you

[2020-04-16 08:31] poodarchu commented on #472
but if you donnot have a model zoo, then I will be not sure about performance if there's any mismatch between your implentations and what reported in their papers.

[2020-04-16 20:52] mannatsingh commented on #460
@SiftingSands thanks for helping out with the responses!

@CaiyuZhang I'm hoping to have a tutorial on using pre-trained external models and on inference before our next release, which should be happening in a couple of weeks.

[2020-04-16 20:57] mannatsingh commented on #472
@poodarchu we plan on releasing training recipes along with the expected accuracy of our models, which should be reproducible. I am also planning on adding a tutorial so that you can use your favorite PyTorch pretrained models with Classy Vision too!

[2020-04-17 04:10] poodarchu commented on #472
great.

[2020-04-23 11:31] imneonizer opened #492 "Prepare the dataset, EOFError: Ran out of input"
## 📚 Documentation

I am following the video classification tutorial from https://classyvision.ai/tutorials/video_classification
in the first step ``Prepare the dataset`` it asks to download the dataset from link, well i have downloaded it and all files and structures look great.

The code snippet which is given as an example to build the dataset is not working
[code]

when i execute the above cod

[2020-04-23 11:58] aadcock commented on #492
Thanks for the question! Sorry that you ran into this issue.

@stephenyan1231 wrote the tutorial, so I'm cc'ing him.

@imneonizer , where did you get the metadata file (see torchvision for examples of this file / file format)? The error is a pickle error which suggests something is incorrect in the pickling / serialization of the metadata.

The dataset should compute the metadata for you the first

[2020-04-23 12:36] imneonizer commented on #492
@aadcock  Thank you  for the response, I had already created "metadata.txt"  which was causing the error.
After resolving it, another error came up (pyav package was missing) pip didn't helped but i managed to install via conda.
And finally dataset building started i saw a progress bar in the notebook and couple of warnings.
But lastly it ended up with another error:

[code]

[2020-04-23 21:28] vreis commented on #492
@imneonizer: can you try changing classy_vision/dataset/classy_video_dataset.py line 221 to os.makedirs? I'll send a PR fixing this, I think we never hit this because the path exists already

[2020-04-24 09:22] imneonizer commented on #492
I have updated the file, however as I passed the metadata file to be created in current directory, and i check the code it was
[code]
the dirname was returning ``''`` and it wasn't able to create that directory so i used absolute paths.
Now the metadata.txt file is created in my current directory, and i am moving forward with the tutorial.
Thanks

[2020-04-25 08:17] CaiyuZhang commented on #347
@mannatsingh
why this  `ClassyModel.from_model(model)` can't work. I got an error `AttributeError: type object 'ClassyModel' has no attribute 'from_model'`
![image](https://user-images.githubusercontent.com/54944384/80274842-ec7b8a80-870f-11ea-8f62-2183ad42967f.png)

[2020-04-26 04:52] mannatsingh commented on #347
@CaiyuZhang my guess would be that you're on old version of the code. You can checkout and install the latest master and the issue should go away. If it doesn't work, can you run the following and let me know what version you see -
[code]

We're also planning to release our next version next week, so you will be able to get it using `pip install classy_vision` after that as well.

[2020-04-26 13:51] #472 closed

[2020-04-27 08:58] CaiyuZhang commented on #347
@mannatsingh Yeah, I thought about this reason too, but I actually update classy_vision  before running my code.  But this error still happened, I will check out the version, no worry, I have loaded my trained models through other methods,  thanks for ur reply.

[2020-05-01 21:52] dsp6414 opened #504 "Add document how to use image path datasets"
## 📚 Documentation
image path datasets tutorial

[2020-05-01 22:26] dsp6414 opened #505 "Will classyvision provide the function similar to Autogluon for automl in future."
## 🚀 Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2020-05-02 22:13] dsp6414 opened #507 "ImagePathDataset DATASET_REGISTRY error"
## ❓ Questions and Help

config:
{
  "name": "classification_task",
  "use_gpu": true,
  "loss": {
    "name": "CrossEntropyLoss"
  },
  "dataset": {
    "num_workers": 40,
    "train": {
      "name": "image_path",
      "batchsize_per_replica": 32,
      "num_samples": null,
      "use_shuffle": true,
      "transforms": [
        {
          "name": "apply_transform_to_key",
          "transfor

[2020-05-02 23:11] #507 closed

[2020-05-03 02:36] dsp6414 commented on #323
i use torchvision.models for model zoo
[code]
def Create_Model_From_Zoo(num_classes=4):
    model = models.resnet50(pretrained=True)
    num_ftrs = model.fc.in_features
    model.fc = nn.Linear(num_ftrs,num_classes)
    classy_model = ClassyModel.from_model(model)
    return classy_model

...
config_file='./configs/test.json'
config = load_json(config_file)

model = Create_Model_From_Zoo(num_class

[2020-05-03 02:42] dsp6414 commented on #504
image_path-dataset.py

@classmethod
    def from_config(cls, config: Dict[str, Any]):
        """Instantiates ImagePathDataset from a config.

      ...
        return cls(
            batchsize_per_replica,
            shuffle,
            transform,
            num_samples,
-           image_folder=config.get("image_folder"),
-           image_files=config.get("image_files"),
+          image_fo

[2020-05-04 12:46] dsp6414 opened #508 "How to export ClassyModel 's state_dict to nn.Module 's state_dict?"
## ❓ Questions and Help
 ClassyModel can use 'from_model' to load pytorch model, but how to export ClassyModel to pytorch model with weights

[2020-05-04 15:01] #508 closed

[2020-05-04 15:41] mannatsingh commented on #504
@dsp6414 I would recommend going over our [tutorial](https://classyvision.ai/tutorials/classy_dataset) about datasets and the docs for [`ImagePathDataset`](https://classyvision.ai/api/dataset.html#classy_vision.dataset.ImagePathDataset). If you face any issues, please let me know!

Regarding your second comment, `config.get("image_files") ` is equivalent to `config.get("image_files", None)`. So yo

[2020-05-04 15:46] mannatsingh commented on #505
@dsp6414 I am not familiar with Autogluon, but looking at its [docs](https://autogluon.mxnet.io/), they mention that they cater to images, text and tabular data. Classy Vision is focused more specifically on image and video classification.

If there are specific features you want to recommend from that toolkit, please list them down and also why you think they will be helpful :)

[2020-05-04 15:48] mannatsingh commented on #492
Closing this issue @stephenyan1231 . @imneonizer feel free to re-open if this still doesn't work for you!

[2020-05-04 15:48] #492 closed

[2020-05-04 16:09] mannatsingh commented on #508
This is covered in our [tutorial](https://classyvision.ai/tutorials/classy_model) for `ClassyModel`s. See the section on [Getting and setting the state of a model](https://classyvision.ai/tutorials/classy_model#Getting-and-setting-the-state-of-a-model).

[2020-05-04 16:15] #505 closed

[2020-05-04 16:15] #504 closed

[2020-05-30 14:15] siddhantsahu opened #527 "Documentation on folder structure for video/image datasets"
Please add more documentation on how you can create a new custom dataset to work with data loading utility functions.

It's much better to give an example on how these directories - `video_dir`, `splits_dir` are organized.

[code]

[2020-06-19 23:28] kaushikCanada opened #550 "from classy_vision.tasks import ClassificationTask +ImportError: cannot import name 'broadcast'"
Getting this error on importing the module.
from torch.distributed import broadcast
this is the line where it is occuring. any suggestions would be welcome.
THanks,

[2020-07-06 06:53] jmatak opened #558 "QuantNoise implementation for ClassyVision models"
## 🚀 Feature
I know Product Quantization models trained using [QuantNoise](https://ai.facebook.com/blog/training-with-quantization-noise-for-extreme-model-compression/) were tested, but never fully open-sourced in ClassyVision. When will, Quantization Noise API be available, and when will pre-trained models be open-sourced.

[2020-07-08 15:17] mannatsingh commented on #558
@jmatak some of the pieces required to train the baseline models have not been open sourced in Classy yet. We can try and work on moving these out and also chat with the authors to see if we can release the models once that is done in a month or two.
cc @pierrestock

[2020-07-15 16:35] mannatsingh commented on #550
Hi @kaushikCanada I'm sorry we missed looking at your issue earlier. It seems like you probably don't have PyTorch setup correctly. Can you make sure you by doing the following -

[code]

If this doesn't work as expected, please try installing PyTorch as per https://pytorch.org/get-started/locally/

[2020-07-15 16:44] mannatsingh commented on #527
Sorry for not getting back to you sooner, @siddhantsahu !
For Image datasets, the [Getting Started](https://classyvision.ai/tutorials/getting_started) tutorial points to the documentation for how the directory structure should look like in the "Training a ResNet 50 on ImageNet" section.
The example in https://classyvision.ai/tutorials/video_classification uses the underlying [torchvision UCF-101 d

[2020-07-15 20:38] kaushikCanada commented on #550
well i was trying it on windows and i think there might be issues. anywhere now i am trying it on ubuntu and it works. How is this different from pycls ?

[2020-07-15 20:38] #550 closed

[2020-07-20 15:33] mannatsingh commented on #550
[pycls](https://github.com/facebookresearch/pycls) is "designed to support rapid implementation and evaluation of research ideas" whereas Classy Vision is meant to support research to production workflows within the same framework. Classy Vision is also associated with documentation for all its [API](https://classyvision.ai/api/) and some [tutorials](https://classyvision.ai/tutorials/) to help you

[2020-07-23 00:29] lcskrishna commented on #527
@mannatsingh I do have same question regarding video_dir, split_dir and metadata_file. It would be great if you can provide more details of the UCF dataset structure from the above example you mentioned.

[2020-07-23 15:15] nazmulshuvo03 opened #575 "Fails to create new project (FileNotFoundError)"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. pip3 install classy_vision
2. classy-project my-project

`Traceback (most recent call last):
  File "/home/nazmul/.local/bin/classy-project", line 47, in <module>
    shutil.copytree(template_path, destination_path)
  File "/usr/lib/python3.8/shutil.py", line 552, in copytree
    with os.scandir(src) as itr:
FileNotFoundError: [Errno

[2020-07-23 15:38] mannatsingh commented on #527
@stephenyan1231 will add some information to this thread whenever he finds some time :)

[2020-07-23 20:33] mannatsingh commented on #575
This could possibly be a duplicate of https://github.com/facebookresearch/ClassyVision/issues/331. Are you using `virtualenv` by any chance @nazmulshuvo03 ?

[2020-07-24 16:53] vreis commented on #575
@nazmulshuvo03 : do you still get this error if you do the following steps:
[code]

[2020-07-25 15:50] nazmulshuvo03 commented on #575
No

[2020-07-27 17:28] mannatsingh commented on #575
@nazmulshuvo03 can you share the steps you used to install Python? It's probably related to that.
In the mean time, can you try @vreis 's suggestion and let us know if it works for you?

[2020-07-27 19:38] nazmulshuvo03 commented on #575
@vreis this works. but not the steps described in the docs (Getting started tutorial)
@mannatsingh python is preinstalled in Linux.

[2020-07-27 22:07] mannatsingh commented on #575
Do you encounter a separate issue after using conda? Can you elaborate?

To see why this isn't working for your regular Python installation, can you let us know the output of the following -
[code]

[2020-07-30 19:30] thimabru1010 commented on #558
Yes, I didn't find them too. So they aren't available yet? Do you have any idea when you will release training with [Extreme Quant Noise](https://ai.facebook.com/blog/training-with-quantization-noise-for-extreme-model-compression/) from paper

[2020-08-05 15:19] mannatsingh commented on #558
Hi guys, I have discussed this with @pierrestock , we will try and release the implementation in this quarter.

[2020-08-06 03:11] ddthuan opened #591 "Can't transforms when loading dataset classy_cifar10 or classy_cifar100"
Steps to reproduce the behavior:

1. Config to load dataset Cifar  in file "ds_cifar.py":

from classy_vision.dataset import build_dataset, CIFARDataset
dataset_config = {
    "name": "classy_cifar10",
    "batchsize_per_replica": 10,
    "use_shuffle": True,
    "transforms": [
        {
            "name": "apply_transform_to_key",
            "transforms": [
                {"name": "ToTensor"}

[2020-08-06 15:37] mannatsingh commented on #591
Hi @ddthuan ! The problem here is in the way you're specifying the transforms. Our [dataset tutorial](https://classyvision.ai/tutorials/classy_dataset) goes over configuring transforms. Since the underlying dataset is a torchvision dataset, [this](https://classyvision.ai/tutorials/classy_dataset#Transform-example-for-a-torchvision-dataset) is the relevant section. I would recommend going over the

[2020-08-06 16:11] ddthuan commented on #591
Thank @mannatsingh. It's okay. I will read the tutorial more carefully.
Many thank you.

[2020-08-06 16:11] #591 closed

[2020-08-11 04:32] siyangbing opened #597 "ValueError: bad value(s) in fds_to_keep"
i use ucf-101 example but get this problem
[code]

[2020-08-11 04:32] siyangbing commented on #597
help me, please

[2020-08-11 07:49] siyangbing commented on #597
@Vinicius Reis please help me! The classyvision is wonderful. I can not wait to try it!

[2020-08-11 10:06] YaqiLYU opened #598 "How to enable the MixupTransform in my training?"
MixupTransform is not registered in transform. How can I use it in my training?

[2020-08-11 10:15] jmatak commented on #558
@mannatsingh Please inform me once when implementation is available for public usage.

[2020-08-11 18:13] mannatsingh commented on #597
Hi @siyangbing looks like it's an issue with multiprocessing inside the dataloader. Can you share a minimal repro with us?
Also, some additional information will help -
- What is the code you're getting this error with?
- Are you using distributed training?
- Are you using any custom components (like a different model)?
- If this is simply following the tutorial, can you share what steps you ran t

[2020-08-11 18:27] mannatsingh commented on #598
Since mixup works differently from other transforms (it doesn't work on a single image), it isn't part of the regular `ClassyTransform`s.
Instead, it can be enabled using [`ClassificationTask.set_mixup_transform(mixup_transform)`](https://classyvision.ai/api/tasks.html#classy_vision.tasks.ClassificationTask.set_mixup_transform).

If you're running your code through a configuration, you need to add

[2020-08-11 18:29] mannatsingh commented on #575
Closing this since there has been no response. Please re-open if you are still facing this issue.

[2020-08-11 18:29] #575 closed

[2020-08-11 22:39] stephenyan1231 commented on #527
Use UCF-101 dataset as an example.

Assume in your local folder, you have a `/data/ucf101` folder holding all videos.

- ucf101
   - ApplyEyeMakeup
   ...
   - YoYo

You also have a folder `/data/UCF101TrainTestSplits-RecognitionTask` holding the splitting files of the dataset

- UCF101TrainTestSplits-RecognitionTask
   - classInd.txt
   ...
   - trainlist03.txt

You want to store meta data at `/d

[2020-08-12 00:38] siyangbing commented on #597
My system is ubuntu18.04 and a 1080ti graphics card. All the following operations are carried out in accordance with the requirements of the video classification example. It is installed with conda. The data set is the downloaded ucf101. Only the video is downloaded, and then splits_dir is placed The ones are trainlist and testlist. The metadata_file is a non-existent file. This error occurred whe

[2020-08-12 00:40] siyangbing commented on #597
from classy_vision.dataset import build_dataset
from classy_vision.models import build_model
from classy_vision.heads import build_head
from collections import defaultdict
from classy_vision.meters import build_meters, AccuracyMeter, VideoAccuracyMeter
from classy_vision.tasks import ClassificationTask
from classy_vision.optim import build_optimizer
from classy_vision.losses import build_loss

# s

[2020-08-12 01:28] YaqiLYU commented on #598
Got it! Thanks.

[2020-08-12 01:28] #598 closed

[2020-08-12 05:06] siyangbing commented on #597
it make me upsad and crazy, i try many times follow the guide, but always like this and i cannot find anything useful by google,please help me

[2020-08-12 06:08] siyangbing commented on #597
from classy_vision.dataset import build_dataset
from classy_vision.models import build_model
from classy_vision.heads import build_head
from collections import defaultdict
from classy_vision.meters import build_meters, AccuracyMeter, VideoAccuracyMeter
from classy_vision.tasks import ClassificationTask
from classy_vision.optim import build_optimizer
from classy_vision.losses import build_loss

vid

[2020-08-12 15:41] mannatsingh commented on #597
@siyangbing I am not sure what is causing the issue, but let's try and figure out what's causing the issue.

Let's first make sure that your data loader works as expected -
[code]
If it doesn't work, can you try passing `num_workers=0` to the `iterator()` above?

[2020-08-12 16:15] #527 closed

[2020-08-13 00:57] siyangbing commented on #597
I try tihs
for phase in ["train", "test"]:
    iterator = datasets[phase].iterator(num_workers=1)
    count = 0
    for _ in iterator:
        count += 1
        print(count)
    if count >= 10:
        break

    task.set_dataset(datasets[phase], phase)

and got blow

/home/sucom/.conda/envs/v4/lib/python3.6/site-packages/torchvision/io/video.py:106: UserWarning: The pts_unit 'pts' gives wrong re

[2020-08-13 03:22] mannatsingh commented on #597
@siyangbing Your message is scrambled and not clear to me. It looks like the dataloader is working, but can you print just what you get after running this -

[code]

[2020-08-13 04:10] siyangbing commented on #597
ok,I formate my code and error, and print count, please help me @mannatsingh thankyou

[2020-08-13 15:22] mannatsingh commented on #597
Got it. So it looks like the dataloaders work independently but there are some issues while starting training.

Can you try another couple of things -

After the following lines -
[code]
Can you try adding the following lines and set `mp_context` to `"fork"` and then `"spawn"` and tell us what the output was in each situation -
[code]

And independent of the above step, can you set `num_workers` t

[2020-08-13 15:28] mannatsingh commented on #597
Also, were you able to get the [Getting Started tutorial](https://classyvision.ai/tutorials/getting_started) to work @siyangbing ?

[2020-08-14 00:38] siyangbing commented on #597
[code]

[2020-08-14 00:57] siyangbing commented on #597
[code]

[code]

[2020-08-14 01:01] siyangbing commented on #597
[code]

[code]

[2020-08-14 15:47] mannatsingh commented on #597
Looks like it worked with `task.set_dataloader_mp_context("fork")`? I don't see any errors - can you confirm that everything works properly?

The `"num_workers": 0` change should be done **without** calling `task.set_dataloader_mp_context()`

[2020-08-17 00:55] siyangbing commented on #597
[code]
and the result like this
[code]

can you help me @mannatsingh

[2020-08-18 16:27] mannatsingh commented on #597
My bad, I just looked at our code and we don't support disabling the multiprocessing_context, which means you cannot set `num_workers=0`. That was anyway something I just wanted to try out for debugging.

It seems like using `task.set_dataloader_mp_context("fork")` doesn't give you this error, right? Does everything work properly for you after setting this?

[2020-08-24 01:14] siyangbing commented on #597
I use this
[code]
and got
[code]

[2020-08-25 00:42] lcskrishna opened #607 "Issues with Dataloader in getting started tutorial"
## 🐛 Bug

Getting the following error, when running part (6) of the Getting Started tutorial.

## To Reproduce

Steps to reproduce the behavior:
Running part (6) of the getting started tutorial.

Here is the error stack that I got it.

[code]
I tried setting the num_workers=0, but i get an issue saying use num_workers>0.
Please let us know a way forward for this issue.

cc: @sunway513

[2020-08-25 02:45] mannatsingh commented on #597
@siyangbing it looks like your training is in fact working now :)

The only reason you're not seeing is because your logging isn't set up. Before running the code, run the following lines and you should see the progress getting printed -
[code]

After this, running the code should print something lie -
[code]

I will update the tutorials to mention that logging needs to be setup and that for datal

[2020-08-25 03:04] mannatsingh commented on #607
@lcskrishna can you share some details about the environment you are on? The questionnaire we ask while creating a new bug report would be really helpful!

In the mean time, can you try both of the following (independently) -

- Rebase on top of https://github.com/facebookresearch/ClassyVision/pull/608 and try setting `num_workers=0`
- Change the multiprocessing context by calling [`task.set_datal

[2020-08-25 05:03] siyangbing commented on #597
@mannatsingh it works, but it train slow (I use one 1080ti),what can I do anything to solve it

[2020-08-25 16:06] mannatsingh commented on #597
Closing the issue since the problem has been resolved. spawn doesn't work in certain environments and switching to fork solved the issue.

[2020-08-25 16:06] #597 closed

[2020-08-26 23:11] lcskrishna commented on #607
@mannatsingh Thanks for the quick fix for num_workers=0. I am trying to run ClassyVision on ROCm with AMD GPUs.
However, here are the results of the above two options after rebasing to the top of #608:

1. When I use num_workers=0 (works fine).
2. When I use multi-processing context - Currently only "fork" works, the remaining two options (spawn, forkserver) throwed the same error as above.

[2020-08-27 03:02] mannatsingh commented on #607
@lcskrishna I see! It'll be great to see the how Classy works on AMD GPUs - it's something we haven't tried ourselves.

Looking at https://github.com/pytorch/pytorch/issues/5858 and  https://docs.python.org/3/library/multiprocessing.html#multiprocessing.freeze_support, it seems like you are running this on Windows? If that's the case, you are in uncharted territory since Classy was written with on

[2020-08-31 03:41] siyangbing opened #611 "ucf 101 only train one epoch ,The program did not stop, but it was unable to enter the next training!"
## ❓ Questions and Help

Before creating an issue, please go over our [Tutorials](https://classyvision.ai/tutorials) and [API Reference](https://classyvision.ai/api). If you cannot find the information you are looking for, please enquire in Classy Vision's `#help` [slack](https://classyvision.slack.com) channel before creating an issue.

[code]

I followed your advice and I wait for a long time ,

[2020-08-31 05:17] siyangbing commented on #611
Ｉ wait an hour , and it still nothing changed@mannatsingh

[2020-08-31 06:27] siyangbing commented on #611
I got two checkpoint files after an hour later, but no log print and tensorboard only show the first epoch.
please help me , I am near success!

[2020-08-31 08:31] #611 closed

[2020-08-31 08:33] siyangbing commented on #611
it just need wait a long time , upto your datasets, for ucf101 , I use 1080ti, it need wait an hour to run test datasets!

[2020-08-31 08:38] siyangbing opened #612 "how to training myself video ?"
## ❓ Questions and Help

Before creating an issue, please go over our [Tutorials](https://classyvision.ai/tutorials) and [API Reference](https://classyvision.ai/api). If you cannot find the information you are looking for, please enquire in Classy Vision's `#help` [slack](https://classyvision.slack.com) channel before creating an issue.

I want to train my own video recognition, including screwing

[2020-08-31 15:47] mannatsingh commented on #612
@siyangbing yes, you can train your own dataset with Classy Vision.

Unfortunately, I can't help you with these questions since there is no simple answer for this. You need to run experiments to see how much data is needed and what the configuration needs to be. I would recommend reading up on video classification through research papers / course lectures to get a general idea.

[2020-08-31 15:47] #612 closed

[2020-08-31 17:43] lcskrishna commented on #607
@mannatsingh Thanks for the links to the issue and the documentation. I ran the experiments on Linux., and confirming that "fork" option works fine.

[2020-08-31 19:31] mannatsingh commented on #607
Sounds good. There are environments where spawn and forkserver don't work, but that is a more general issue unrelated to Classy Vision.

Closing this out since we have a resolution.

[2020-08-31 19:31] #607 closed

[2020-09-01 01:27] siyangbing opened #613 "Video inference sample code"
## ❓ Questions and Help

Before creating an issue, please go over our [Tutorials](https://classyvision.ai/tutorials) and [API Reference](https://classyvision.ai/api). If you cannot find the information you are looking for, please enquire in Classy Vision's `#help` [slack](https://classyvision.slack.com) channel before creating an issue.

I used my own video classification trained with the configur

[2020-09-02 01:22] siyangbing commented on #613
please help me , @mannatsingh

[2020-09-02 03:07] mannatsingh commented on #613
@siyangbing you're right, we don't have a tutorial for inference at the moment since the API isn't finalized.

If you want to evaluate a trained checkpoint on a test dataset, you can create a new task similar to the one you created for training, with the following differences -
[code]
Note that this API is liable to change in the future.

Let me know if this works for you!

[2020-09-03 00:56] siyangbing commented on #613
Thank you very much for your reply, but for me, the task is too complicated for me to understand. I recently have a project that needs to identify a single video. Is it possible to infer a single video directly by loading a checkpoint instead of registering a data set and using tasks. What do I need to do with a single video before I can input the model for inference, please help me! @ mannatsingh

[2020-09-04 01:19] siyangbing commented on #613
please help me , the project is perfect if I can infer one video with my own model!

[2020-09-04 22:50] mannatsingh commented on #613
@stephenyan1231 do you have any suggestions for the best way to do this?

[2020-09-08 06:40] siyangbing commented on #613
it will get support in future relase?
@mannatsingh

[2020-09-08 18:48] mannatsingh commented on #613
@siyangbing we have good support for this for images, but that's missing a tutorial. For videos, we need to add better support!

[2020-09-09 00:33] siyangbing commented on #613
If there is support for video inference in the future, please let me know@mannatsingh

[2020-09-18 16:31] SiftingSands opened #618 "Training with Soft Labels"
I was looking into using soft labels (e.g. [0.2, 0.3, 0.5] instead of one-hot encoding on the last class). However, I wanted to ask if there would be any major blockers for training in this manner.

I know that I'll need to modify the loss and dataloader to handle a list of scores instead of a single class label. I'm not sure if that'll break other functions that expect the "[input, target]" defau

[2020-09-18 19:26] mannatsingh commented on #618
@SiftingSands this is already supported in Classy - you should be able to use [`SoftTargetCrossEntropyLoss`](https://classyvision.ai/api/losses.html#classy_vision.losses.SoftTargetCrossEntropyLoss) or [`LabelSmoothingCrossEntropyLoss`](https://classyvision.ai/api/losses.html#classy_vision.losses.LabelSmoothingCrossEntropyLoss) if you also want to use label smoothing. It should work out of the box,

[2020-09-18 20:46] SiftingSands commented on #618
Thanks for the fast response! I didn't even realize Classy already had soft targets implemented (My first thought was to just use PyTorch's KL divergence loss). I'll keep this ticket open in-case I run into any issues over the next week trying this out.

[2020-09-23 19:39] benjamindkilleen commented on #291
Has there been any progress on this? Even the support for hydra is undocumented and seems buggy or at least hard to get working.

[2020-09-24 19:06] mannatsingh commented on #291
Hi @benjamindkilleen - we indeed have undocumented support for Hydra available. What's missing is a tutorial for using Hydra. If you have hydra installed in your environment, we use our hydra based entry point, and otherwise we just use the regular JSON based config args. https://github.com/facebookresearch/ClassyVision/pull/536 has some examples about hydra usage.

Regarding the buggy part, are y

[2020-09-24 20:18] benjamindkilleen commented on #291
Yes, I had some issues when I installed, due to "buggy extension," but I initially did not install from source I re-installed from source and things are working more smoothly, although a classy-vision set of configs would probably help zero-to-sixty time for new users. (I had to spend a fair bit of time reading the hydra docs, which are very good but take time to translate into the context of clas

[2020-09-24 21:51] SiftingSands commented on #618
I encountered one snag in the dataloader and SoftTargetCrossEntropyLoss interaction.

Tracing into the "forward" function in **soft_target_cross_entropy_loss.py** shows my **output** with the expected size of [batch_size, N_classes]. However, the **target** is a list of length "N_classes" and every element is a tensor of size "batch_size" (it's also a 64bit float, can't remember if that should be

[2020-09-25 02:17] mannatsingh commented on #291
Got it. We do bundle a few hydra based configs which should provide an idea about the structure. Do the examples in the summary of https://github.com/facebookresearch/ClassyVision/pull/536 help?

The primary reason we have this issue open is because of a lack of documentation.

[2020-09-25 02:20] mannatsingh commented on #618
The docs in https://classyvision.ai/api/losses.html#classy_vision.losses.SoftTargetCrossEntropyLoss.forward do mention the expected input formats - your target should be of the same shape as the model output.

If in doubt, you can always just initialize the loss in a notebook and try passing tensors of expected dimensions to make sure it works :)

[2020-09-25 12:01] benjamindkilleen commented on #291
The configs in classy_vision/hydra/conf were helpful, yes, in setting up my own library of configs, although they would be tricky to find for someone getting started. From a new user's perspective, I would almost rather classy_vision required hydra-core as a dependency and started with multiple folders of pre-configured yaml files for different datasets/models/losses etc right off the bat, without

[2020-09-25 16:05] SiftingSands commented on #618
The fix was simply converting my label from a list to a tensor in ```__getitem__```. Closing as everything seems to be working with soft labels.

[2020-09-25 16:05] #618 closed

[2020-09-29 01:55] mannatsingh commented on #291
Got it, thanks for the feedback! While hydra is definitely a better option than JSON, our plan is to allow a slow transition. I agree though that currently the support is hidden. Maybe we can think of a better way of enabling hydra (or making it the default).

Regarding examples of hydra specific features like hyper param search, I agree this would be really helpful and it would be great to have t

[2020-09-30 20:06] lcskrishna opened #623 "Not getting proper convergence using the video classification tutorial."
## 🐛 Bug
I have trained the resnext3d model using ucf101 from the video classification example of the tutorails. However, I am not able to see proper convergence of loss. I am originally experimenting this training on ROCm platform using AMD GPUs, however I am able to reproduce the same issue on CUDA platform as well.
It would be great if someone can help us out what hyperparameters needs to be ch

[2020-10-02 03:00] mannatsingh commented on #623
@lcskrishna the example in the UCF101 tutorial is a toy example, so I don't think it is expected to converge with those parameters. Also, if you use the LR setting in the tutorial and increase num_epochs to 90, the LR will still drop at epoch 1 and then stay there for the remaining 88 epochs as well.

If you are testing out AMD GPUs, I would highly recommend first working with Image Classification

[2020-11-04 16:04] ChristianEschen opened #640 "Error running video classification toturial"
Running step 5 in the the video classification toturial:
import time
import os

from classy_vision.trainer import LocalTrainer
from classy_vision.hooks import CheckpointHook
from classy_vision.hooks import LossLrMeterLoggingHook

hooks = [LossLrMeterLoggingHook(log_freq=4)]

checkpoint_dir = f"/tmp/classy_checkpoint_{time.time()}"
os.mkdir(checkpoint_dir)
hooks.append(CheckpointHook(checkpoint_dir

[2020-11-05 05:08] mannatsingh commented on #640
Hi @ChristianEschen that's a weird error which I haven't seen before. Can you print the output of the following lines -

[code]

Also, which exact version of Python are you using (like 3.6.2) and how did you install classy?

[2020-11-05 09:43] ChristianEschen commented on #640
I get the same error as presented above.
I use python 3.6.11.
it is installed using pip install classy_vision.

[2020-11-06 03:40] mannatsingh commented on #640
Ah, I just noticed, your CUDA version is 11.0 - that isn't supported by Classy Vision yet. Can you try downgrading to CUDA 10.2 and running this?

cc @vreis , @jackhamburger since you guys had worked with CUDA 11.0, do you think this could be related?

[2020-11-06 07:32] ChristianEschen commented on #640
Hi again,

I figured out that my ufc-101 dataset was not in the correct format.
This means I had a "flatten" data structure.

So it was an error 40, indicating the error was 40 centimeters from the device...
Thanks anyway.

[2020-11-06 07:32] #640 closed

[2020-11-06 15:05] mannatsingh commented on #640
Got it, I had figured that the dataset would throw an exception during initialization if there was a data error. Do you mind mentioning what the exact issue was and how you fixed it, for future users? :)

[2020-11-30 21:54] #623 closed

[2020-12-07 06:38] liebkne commented on #640
I got the same issue.

The test snippet does not work for me @mannatsingh

[code]

I got a 24M `ucf101_metadata.pt` and I assume my dataset format is correct?

[code]

[2020-12-07 12:25] Yevgnen commented on #640
I encountered the same issue. The issue is probably related to `torchvision` upstream and is fixed in [this](https://github.com/pytorch/vision/commit/14af9de63dac730c3240a83fa963d4e91bc562a4) commit. If one set the data directory with a slash suffix like

[code]

The `indice` will become `[]` before this commit and cause `RuntimeError: There were no tensor arguments to this function`. It's a bit u

[2020-12-10 03:12] mannatsingh commented on #640
Thanks so much @Yevgnen for the suggestion!

@liebkne I've verified that your metadata file looks correct - can you try @Yevgnen 's suggestion and see if that works for you?

[2020-12-21 09:18] luolugithub opened #673 "ValueError: bad value(s) in fds_to_keep？"
## ❓ Questions and Help
how to handle ？

[2020-12-22 03:10] luolugithub commented on #673
INFO:root:Number of activations in model: 65329152
Traceback (most recent call last):
  File "./classy_train.py", line 190, in <module>
    main(args, config)
  File "./classy_train.py", line 112, in main
    trainer.train(task)
  File "/home/xkjs2/PycharmProjects/ClassyVision/classy_vision/trainer/local_trainer.py", line 26, in train
    super().train(task)
  File "/home/xkjs2/PycharmProjects/Cla

[2020-12-25 03:54] mannatsingh commented on #673
Hi @luolugithub can you go over the thread in https://github.com/facebookresearch/ClassyVision/issues/597 and try the suggestions there and let me know?

[2020-12-25 08:45] luolugithub commented on #673
@mannatsingh
Got it, thank you very much！！！

[2020-12-31 07:14] #673 closed

[2021-01-08 11:40] shinianzhihou opened #679 "Could you please provide a dockerfile to help build this awesome repo~"
Could you please provide a dockerfile to help build this awesome repo~

[2021-01-08 20:37] mannatsingh commented on #679
Hi @shinianzhihou we don't have a dockerfile since the setup is very straightforward -
- Install Python 3.6.2+
- Install `PyTorch` and `torchvision` (and optionally CUDA) using https://pytorch.org/get-started/locally/
- Install Classy Vision using `pip install classy_vision`

If you're having any trouble, please let me know!

[2021-01-09 01:47] shinianzhihou commented on #679
OK，thanks，I mainly want to build this project in my sever. I will make one, thanks~发自我的华为手机-------- 原始邮件 --------发件人： Mannat Singh <notifications@github.com>日期： 2021年1月9日周六 凌晨4:37收件人： facebookresearch/ClassyVision <ClassyVision@noreply.github.com>抄送： Nian Shi <15155297566@163.com>, Mention <mention@noreply.github.com>主    题： Re: [facebookresearch/ClassyVision] Could you please provide a dockerfile

[2021-01-10 05:01] #679 closed

[2021-01-11 09:08] shinianzhihou opened #680 "Could you please provide a config for training efficientnet？"
Could you please provide a config for training efficientnet？

I am confusing about the config for efficientnet.

[2021-01-11 09:39] shinianzhihou commented on #680
config(model):
    "model": {
        "name": "efficientnet_b0",
        "bn_momentum": 0.01,
        "bn_epsilon": 1e-3,
        "drop_connect_rate": 0.0,
        "num_classes": 15,
        "width_divisor": 8,
        "min_width": null,
        "use_se": true,
        "heads": [
          {
            "name": "fully_connected",
            "unique_id": "default_head",
            "num_classes":

[2021-01-11 09:50] shinianzhihou commented on #680
where can i find the pretrained model （.pt） for efficientnet?

[2021-01-11 10:37] #680 closed

[2021-01-11 10:38] shinianzhihou opened #681 "Synchronized Batch Normalization is disabled"
How to open Synchronized BN during the training process?

thx!!!

[2021-01-12 20:25] mannatsingh commented on #681
If you're running with a config, you can pass the following key in the task configuration -

[code]

If using the "apex" mode, you can also enable syncing over a smaller group size. For intra node sync batch norm, the setting should like -

[code]

Hope this helps!

[2021-01-13 03:42] shinianzhihou commented on #681
It helps a lot! thx!

[2021-01-13 03:42] #681 closed

[2021-01-13 08:42] karttikeya opened #683 "Unclear what trunc_normal init is."
## 🐛 Bug

Vision Transformer uses `torch.nn.init.trunc_normal_` ([here](https://github.com/facebookresearch/ClassyVision/blob/436b79a82c1b3f7ccdc138a2a3f95c2f95488657/classy_vision/models/lecun_normal_init.py)) which is not yet available in `torch.nn.init`  (in pytorch 1.4). Is this expected behavior?

[2021-01-13 10:04] AjinkyaIndulkar opened #684 "update breaking changes of v0.5 release in README.md"
## 📚 Documentation

https://github.com/facebookresearch/ClassyVision#breaking-changes section of README.md needs to be updated:

Renamed `is_master` to `is_leader` in `distributed_util` (#576) -> Renamed `is_master` to `is_primary` in `distributed_util` (#576)

[2021-01-20 18:58] mannatsingh commented on #683
Ah yeah, you're right @karttikeya - this only would work with pytorch 1.7. To unblock yourself, you can upgrade to that. In the meantime, I will send a PR to fix this for older pytorch versions

[2021-01-20 19:58] mannatsingh commented on #684
Thanks so much for catching that @AjinkyaIndulkar , let me fix it!

[2021-01-21 07:26] shinianzhihou opened #691 "Can you provide the pre-trained Efficientnet.torch or the trunk?"
I'm trying to load the pre-trained model (efficientnet) for another repo but the keys doesn't match.
Can you pls provide the pre-trained Efficientnet.torch or the trunk.pt ?
or provide any ideas for this problem:

[code]

[2021-01-21 23:00] mannatsingh commented on #691
Hi @shinianzhihou we don't have any plans currently of supporting pre-trained models. But if you have weights from any repository, you can easily write a script which maps the keys to the right format - this code would have to depend on the source implementation though. As a small example,

[code]

[code]

To use the state dictionary from `TestModel1` in `TestModel2`, the `"conv1"` key would have

[2021-01-22 00:43] #684 closed

[2021-01-24 02:26] shinianzhihou commented on #691
Thanks for your reply, I have solved this problem !

[2021-01-24 02:26] #691 closed

[2021-01-24 02:31] shinianzhihou commented on #613
[code]

This is how  I make my inference. May be useful

[2021-01-25 22:44] mannatsingh commented on #613
Thanks for the code sample, @shinianzhihou !

[2021-01-27 23:14] mannatsingh commented on #683
Fixed in https://github.com/facebookresearch/ClassyVision/pull/690

[2021-01-27 23:14] #683 closed

[2021-03-08 05:31] #313 closed

[2021-03-11 03:48] shinianzhihou opened #710 "How to visualize the feature map in tensorboard?"
## ❓ Questions and Help

How to visualize the feature map in tensorboard?

I try to sign in to the provided slack but failed.

Could you pls provide some advice about how to visualize the feature map on tensorboard ? Using tensorboard hook?

[2021-03-17 06:30] fangwudi opened #718 "templates path error"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. git clone and pip install .
2. classy-project my-project
3. got error : FileNotFoundError: [Errno 2] No such file or directory: '/usr/local/lib/python3.6/dist-packages/classy_vision/templates/synthetic'

## Expected behavior

## Environment

 - What commands did you use to install Classy Vision (conda/pip/build from source)?
 - If you

[2021-03-17 06:33] #718 closed

[2021-03-18 02:53] fangwudi opened #719 "Multi output and multi target not support?"
## ❓ Questions and Help

I wrote a model with multi output:
        self.model = ClassyModel.from_model(models.resnet50(pretrained=True))
        head_1 = FullyConnectedHead(unique_id="1", num_classes=3, in_plane=2048)
        head_2 = FullyConnectedHead(unique_id="2", num_classes=4, in_plane=2048)
        head_3 = FullyConnectedHead(unique_id="3", num_classes=21, in_plane=2048)
        head_4 = F

[2021-03-19 01:28] mannatsingh commented on #710
@shinianzhihou sorry for the delay in responding. I would recommend writing a hook similar to the default [`TensorboardHook`](https://github.com/facebookresearch/ClassyVision/blob/master/classy_vision/hooks/model_tensorboard_hook.py) for this. We visualize the parameters which can help serve as a reference.

[2021-03-20 07:11] mannatsingh commented on #719
Hi @fangwudi, it seems that we assume that the target is a tensor. So the error isn't because you're using multiple heads, but because your target isn't a tensor. What we do can be improved to rid this assumption, I will send a PR to change this. In the mean time, you can create a derived task which overrides the `train_step` and `eval_step` to unblock yourself.

I guess you already know this sinc

[2021-03-20 10:50] #710 closed

[2021-03-22 03:54] fangwudi commented on #719
thanks.

[2021-03-22 03:54] #719 closed

[2021-03-29 14:56] mannatsingh commented on #719
Fixed in https://github.com/facebookresearch/ClassyVision/pull/722

[2021-04-06 00:53] jsuit opened #731 "Getting started Tutorial doesn't work"
So I'm trying to follow the getting_started tutorial.
I `cd` into the folder that was just created by classy-project and run
```./classy_train.py --config configs/template_config.json```

I get the error message:

[code]

[2021-04-10 04:22] yuriyvl opened #735 "U-Net Integration"
## ❓ Questions and Help

Hello.  Are there any plans to add support for [U-Net](https://arxiv.org/abs/1505.04597) in the near future?  Unfortunately it is not on the list of the provided [trunks](https://github.com/facebookresearch/ClassyVision/tree/master/classy_vision/models).

If this is not planned, how would you suggest going about it?  Our research project requires usage of U-Net for analysi

[2021-04-10 23:26] #735 closed

[2021-04-13 17:26] mannatsingh commented on #731
Hi @jsuit ! It looks like you have [hydra](https://hydra.cc/docs/intro) installed in your setup. Classy has experimental and undocumented hydra support - for the tutorial to work correctly, you will need to uninstall hydra.

[2021-04-26 06:13] feng257 opened #738 "No such file or directory: '/usr/classy_vision/classy_train.py'"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. pip install classy_vision
1. classy-project my-project

Traceback (most recent call last):
  File "/usr/local/bin/classy-project", line 48, in <module>
    shutil.copy(classy_train_path, destination_path)
  File "/usr/lib/python3.6/shutil.py", line 245, in copy
    copyfile(src, dst, follow_symlinks=follow_symlinks)
  File "/usr/lib/p

[2021-04-26 20:50] mannatsingh commented on #738
Hi @feng257 you first need to `cd` to the project directory, i.e. -

[code]

[2021-04-26 20:51] mannatsingh commented on #731
Closing this issue. Please feel free to reopen if removing hydra doesn't solve your issue.

[2021-04-26 20:51] #731 closed

[2021-04-28 12:48] cyy5358 opened #740 "Is this comment about distributed training out of date?"
Hi, I think your're doing great job and ClassyVision is elegant to use.
I've a question and I would appreciate if you can answer it.

Here's comment in `classy_train.py` and I run it.
https://github.com/facebookresearch/ClassyVision/blob/f6d0cbc46ffe26df505fd1f618f2ee76790619b0/classy_train.py#L23-L33

I got:

[code]

It seems that options` --device` and ` --num_worker` is deprecated.

And I find

[2021-04-29 00:27] mannatsingh commented on #740
Hi @cyy5358 ! Glad that you like Classy Vision!

You're right, we now automatically detect the device, and the data loader workers are specified directly in the dataset configuration!

For single node multi-GPU training, passing `--distributed_backend=ddp` should be enough to the torch distributed launcher! Please let me know if you run into any issues!

Let me fix the documentation in the mean ti

[2021-05-13 03:20] #738 closed

[2021-05-13 03:21] #740 closed

[2021-06-22 22:26] d4l3k opened #749 "classy-vision==0.5.0 is incompatible with torch==1.9.0"
## 🐛 Bug

classy-vision latest release is incompatible with the latest version of torch due to a dependency on torch._six which has since been removed.

## To Reproduce

Steps to reproduce the behavior:

[code]

Looks like this is already fixed in trunk but a new version needs to be released.

https://github.com/facebookresearch/ClassyVision/commit/853fc0ebc8ce774c712dec006843fcb3820e9030#diff-cab

[2021-06-30 10:45] fangwudi opened #751 "how to print 'sub loss'"
How can I log values of each sub loss in SumArbitraryLoss or MultiOutputSumLoss  just like the way in keras .
For exsample: tain log, total loss:  x, sub loss 1: x1, sub loss 2: x2 .

[2021-07-01 01:27] fangwudi opened #752 "train using num_steps"
## ❓ Questions and Help

how to train using num_steps instead of num_epochs?

[2021-07-06 14:59] mannatsingh commented on #752
Hi @fangwudi we don't directly support specifying num_steps, but you can tune the number of steps by changing `num_epochs` (and optionally `num_samples` in the dataset).

[2021-07-06 15:28] mannatsingh commented on #751
This isn't directly supported. But you should be able to create a hook that derives from `LossLrMeterLoggingHook` and override this section - https://github.com/facebookresearch/ClassyVision/blob/master/classy_vision/hooks/loss_lr_meter_logging_hook.py#L72-L77

[2021-07-11 08:11] fangwudi commented on #751
Ok, thanks.

[2021-07-11 08:11] #751 closed

[2021-07-11 08:12] fangwudi commented on #752
thanks, I'm using this method

[2021-07-11 08:12] #752 closed

[2021-07-11 08:22] fangwudi opened #756 "Get Dataset's Prediction"
## ❓ Questions and Help

Is there any easy way to get total prediction of one dataset's testset? Do not need meters, only prediction is needed.

[2021-07-12 18:16] d4l3k commented on #749
There's a new 0.6.0 release which appears to be compatible with torch==1.9.0, testing now https://pypi.org/project/classy-vision/#history

[2021-07-12 22:21] d4l3k commented on #749
passing for torchx

[2021-07-12 22:21] #749 closed

[2021-07-15 16:22] mannatsingh commented on #756
Do you mean getting all the predictions for a dataset? You can use https://github.com/facebookresearch/ClassyVision/blob/master/classy_vision/hooks/output_csv_hook.py for that. If you just want to run inference, you can call `set_test_only` to `True`.

[2021-07-18 08:25] fangwudi commented on #756
thanks. I think output_csv_hook maybe helpful.

[2021-07-18 08:25] #756 closed

[2021-08-25 21:47] jpainam opened #762 "ValueError: Cannot register duplicate param scheduler (step) - Video classification"
## 🐛 Bug

I'm reproducing the video classification. In the 4 step, Building the task. i get this error
[code]

[2021-08-30 04:47] mannatsingh commented on #762
@jpainam this seems like it might be expected behavior - if you try to register any component a second time, we raise an error.

If you think you are not re-registering a parameter scheduler, can you share details about your environment and the steps you ran?

[2021-08-30 08:40] jpainam commented on #762
I don’t think it’s necessary to raise an error when someone tries to register a component for a second.   A simple warning might be enough.
I only register my custom dataset once. And the error seems to occur during the optimizer and scheduler build. I'm using Jupyter notebook and all the cells run except the cell where i defined my scheduler and optimizer.

[2021-08-30 15:12] mannatsingh commented on #762
I agree that the error raising isn't great for most use cases - it was written to prevent a different set of scenarios. It's especially frustrating when working on Jupyter notebooks. I'm sorry for the inconvenience, we'll keep this in mind for future fixes.

I'm hoping you are able to make progress on the tutorial though after restarting your kernel?

[2021-08-30 15:37] jpainam commented on #762
I executed this code using a .py file and a Jupyter notebook with a fresh kernel. Restarted it many times. same error,
[code]
Hope the code is self-contained and can be executed.
This is my environment
[code]

[2021-08-30 23:03] jpainam opened #763 "process hangs and no logs showing."
## 🐛 Bug
I'm facing too many difficulties with this library. Going to move back to normal PyTorch.
This is the code for training after following the Video classification code.
[code]
This error `ValueError: Cannot register duplicate param scheduler (step)`, keeps on coming randomly. Even after Kernel restarted in Jupyter.

[2021-09-01 04:08] mannatsingh commented on #763
I am looking into the param scheduler issue in https://github.com/facebookresearch/ClassyVision/issues/762. For the hanging, it's probably just that the logging hasn't been set up. For posterity, the code is probably not hanging - it's just not logging anything. That can be fixed by running -

[code]

[2021-09-01 05:05] mannatsingh commented on #762
I was not able to repro the error - upon copying the code with the same environment as you mentioned @jpainam I was able to run the code without any issues. Maybe try creating a new environment from scratch and trying this out?

These are the steps I followed -
[code]

[2021-09-17 11:34] luolugithub opened #769 "Is there any pretrained video classification model(UCF101) available?"
I want to fintuning on my own videl classificaiton model

[2021-09-20 22:25] mannatsingh commented on #769
Hey @luolugithub unfortunately we don't currently host any pretrained models in classy vision. You can check out https://github.com/facebookresearch/pytorchvideo for pretrained models!

[2021-09-20 22:25] #769 closed

[2021-09-20 22:25] #763 closed

[2021-09-20 22:25] #762 closed

[2021-10-16 10:45] Pedrexus commented on #397
Hi, Folks. Any updates on this end? Is there a way to use `ReduceLROnPlateau` with ClassyVision?

[2021-10-27 11:06] niteshgaba opened #772 "IsADirectoryError: Caught IsADirectoryError in DataLoader worker process 0."
## ❓ Questions and Help
I have created the data folder with the following structure

train/label_1/aa.png
train/label_2/bb.png
val/label_1/cc.png

and so on

The config used is

{
    "name": "classification_task",
    "num_epochs": 95,
    "loss": {
      "name": "CrossEntropyLoss"
},
    "dataset": {
        "train": {
            "name": "image_path",
            "batchsize_per_replica": 32,

[2021-11-01 16:26] mannatsingh commented on #772
Can you try setting `"num_workers": 0` in the dataset configurations like so and inspecting the stack trace?
[code]

Secondly, it seems you are using a video model for an image dataset. So this code will crash anyway. You can check out https://classyvision.ai/tutorials/getting_started for a sample image configuration.

[2021-12-22 15:22] vinayak015 opened #776 "A minor documentation issue in efficientnet"
## 📚 Documentation

 [efficientnet.py](https://github.com/facebookresearch/ClassyVision/blob/main/classy_vision/models/efficientnet.py)

It's a clean and well documented code. Kudos to the authors and thank you for making it open source :)

On the line 195, I think it's just an Excitation layer. Squeeze is being done by AdaptiveAvgPool2d.

[2021-12-24 16:24] mannatsingh commented on #776
Glad that you find the implementation useful @vinayak015!
You're right, this only corresponds to the "Excitation" part of the SE op. I think the code generally referred to this section as corresponding to the SE layer, but please feel free to send a PR adding a qualifier that this is the Excitation part of the SE layer :)

[2022-05-16 15:21] netw0rkf10w opened #790 "Training recopies for the Weakly Supervised Pre-training paper"
## 📚 Documentation
Hello,

In the README you mentioned the following:

I would like to know if you could share the training recipes (*.json) for the results that you were able to replicated.

Thank you in advance.

Best regards.

[2022-05-23 15:11] mannatsingh commented on #790
Hi @netw0rkf10w, unfortunately this was trained a couple of years ago so it's hard to track the configs down for this. I'm afraid we won't be able to share this. But the training logic was fairly similar to training on imagenet, except that there were multiclass labels normalized to sum to 1. Other than that, everything should match up to imagenet 1k training with a cross entropy loss that handles

[2022-06-08 01:59] mannatsingh commented on #558
Hi @MohammedHAlali we were never able to get around to it sadly and have no plans on supporting QuantNoise in Classy Vision anymore unfortunately. Sorry!

[2022-06-08 01:59] #558 closed

[2022-06-08 01:59] mannatsingh commented on #790
Please feel free to reopen if you have more questions

[2022-06-08 01:59] #790 closed